:root {
    --navHeight: 4.375rem;
}

/******* HEADER STYLE *******/
header > nav {
    height: var(--navHeight);
}

header a.nav-link > i.fa-bell {
    color: #ff8f00;
}

/******* SIDEBAR & MAIN STYLE *******/
#main-SideContents {
    /* margin-top: var(--navHeight); Only in case of fixed header */
    height: calc(100vh - var(--navHeight));
}

/* SideBar Style */
aside {
    width: 4.375rem;
}

@media screen and (min-width: 992px) {
    aside {
        width: 9.375rem;
    }
}

aside {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

aside i.fa-solid {
    width: 1.125rem;
}

aside .nav-link:hover {
    background-color: grey;
}

/* Main Style */
#infoSec {
    background-color: #1A72E8;
}

